




AN-19-083_temp.pdf


data/xsec
data/skims
data/reweights
test/
scripts/setup/skims/tmp/

*~
__pycache__
*.pyc
*.root
*.tgz
*.gz
!data/jsonpog/**/*.gz
*.png
*.pdf
*.out
*.err
*.log
myscript.sh
nano_files*.txt
.claude/
.env/
.local/
.bashrc
.condor_config
.sites_map.json
*.nfs*
WR_Plotter/
venv/
.venv/
wr-env/
coffea_env
*.egg-info/
.cmslpc-local-conf
bootstrap.sh
shell
