


# Under development
data/configs/Run3/2023

docs/condor.md

data/xsec
data/skims
data/reweights

scripts/setup/skims/tmp/

*~
__pycache__
*.pyc
*.root
*.tgz
*.gz
*.png
*.pdf
*.out
*.err
*.log
myscript.sh
nano_files*.txt
.env/
.local/
.bashrc
.condor_config
.sites_map.json
*.nfs*
WR_Plotter/
venv/
.venv/
wr-env/
coffea_env
.cmslpc-local-conf
bootstrap.sh
shell
